@charset "UTF-8";

*{
	box-sizing:border-box;
	border-radius:10px;
}

html{
	margin:2%;
}

#blank{
	position:relative;
	height:50px;
	width:100%;
}

.b_number{
	position:relative;
	left:30%;
	top:50%;
	text-align:center;
	background-color:#ddffcc;
	width:30%;
	text-decoration:underline;
	font-size:120%;
	margin-top:20px;
}

.header {
	position: relative;
	height:400px;
}


div.header img {
	width:100%;
	height:400px;
	opacity:1.2;
	border-radius:none;
/* 	z-index: -1; */
}
.center{
	position:absolute;
	top:30%;
	right:40%;
	width:100%;
	transform:translate(0,-50%);
}
.title{
	margin-top:50px;
	font-size:200%;
	text-align:center;
}

div.navigator a{
	text-decoration:none;
	padding:14px 20px;
	background-color:#3290c4;
	text-align:center;
	color:white;
	position:relative;
}
div.navigator{
	background-color:#3290c4;
	padding:20px;
}


div.navigator a:hover{
	color:yellow;
	background-color:black;
}


#map{
	display:flex;
}

#map1{
	padding-top:100px;
}


.cw_addr{
	width:40%;
	top:10%;
	height:500px;
	padding:3%;
	text-align:center;
	font-size:150%;
	padding-top:20%;
}
	
.cw_faq{
	width:100%;
}
.cw_location{
	width:60%;
	padding:3%;
}

.location{
	width:100%;
	top:10%;
	left:50%;
}


div.content{
	display:flex;
	flex-wrap:wrap;
	width:100%;
/* 	height:500px; */
}

div.main{
	display:flex;
	flex-direction:row;
	flex:70%;
}

div.card{
	margin-left:2px;
	margin-top:2px;
}

.myid{
	width:100%;
}

.reply{
	width:100%;
} 

.reply tr, td{
	padding:8px;
	border-bottom:1px solid #ddd;
}


textarea{
	width:100%;
	height:150px;
	padding:12px 20px;
	border: 2px solid #ccc;
	border-radius:#f8f8f8;
	font-size:16px;
	resize:none;
}



input[type=text], input[type=password], select{
	font-size:20px;
	width:250px;
	padding:8px;
	margin:5px 8px 5px;
	display:block;
	border:1px solid #ccc;
	border-radius:4px;
}

input[type=submit], input[type=button], button, input[type=reset]{
	background-color:gray;
	color:white;
	border:none;
	cursor:pointer;
	padding:8px 4px;
	margin: 4px 2px;
	width:100px;
	height:50px;
}

div.side{
	flex:30%;
}


div.content .card_text{
	border:1px dotted black;
	width:200px;
	height:50px;
	background-color:orange;
	overflow:auto;
}


#reply_mod{
	display:none;
}

#login, #logOut{
	margin-left:auto;
	order:2;
}


#modal{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0, 0.5);
	z-index:10;
}

#xbox{
	position:fixed;
	background-color:#aaa;
	top:50%;
	left: 50%;
	width:500px;
	height:300px;
	padding:0px;
	border:3px solid blue;
	transform:translate(-50%,-50%);
}
.pop_header{
	display:flex;
	justify-content:space-between;
}
.pop_close{
	width:26px;
	height:26px;
	position:absolute;
	top:0px;
	left:450px;
}

.pop_content{
	border:1px solid black;
	position:absolute;
/* 	padding-top:25px; */
	text-align:center;
	top:50%;
	left:50%;
	width:400px;
	height:220px;
	transform:translate(-50%,-50%);
}


.login_btn{
	background-color:#ff8c1a;
}

.new_btn{
	width:45%;
	
}

.footer{
	position: absolute;
    left: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
}

.footer_bottom{
	list-style:none;
}

.footer_bottom_2{
	float:left;
	margin:10px;
}

#pw_error{
	display:none;
}

#chimi{
	display:none;
	color:red;
}


td, th {
	text-align:center;
	padding:8px;
	border-bottom:1px solid #ddd;
}

tbody tr:hover{
	background-color:#f5f5f5;
	cursor:pointer;
}

.button{
	background-color:#008CBA;
	border:none;
	color:white;
	padding:16px 32px;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	margin:4px;
	cursor:pointer;	
}

button.blue{
	float:right;
	background-color:white;
	color:black;
	border:2px solid #008CBA;
}

button.blue:hover{
	background-color:#008CBA;
	color:white;
}
@media only screen and (max-width: 750px){
	body{
		background-color: lightblue;
	}
	.content, .topnav, .main{
		flex-direction:column;
	}
	#login,#logOut{
	margin-left:0;
	text-align:center;
	order:1;
	}
}




